<!DOCTYPE html>
<html lang="ru">
<head>
    <!--
        ===
        This comment should NOT be removed.

        Charisma v2.0.0

        Copyright 2012-2014 Muhammad Usman
        Licensed under the Apache License v2.0
        http://www.apache.org/licenses/LICENSE-2.0

        http://usman.it
        http://twitter.com/halalit_usman
        ===
    -->
    <meta charset="utf-8">
    <title>Project manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pletnev Project manager bundle">
    <meta name="author" content="Pletnev Ruslan">

    <!-- The styles -->
    {% block stylesheets %}
    {#<link id="bs-css" href="/bundles/pletnevprojectmanager/css/bootstrap-cerulean.min.css" rel="stylesheet">#}

    <link href="/bundles/pletnevprojectmanager/css/charisma-app.css" rel="stylesheet">
    <link href='/bundles/pletnevprojectmanager/bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='/bundles/pletnevprojectmanager/bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='/bundles/pletnevprojectmanager/bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='/bundles/pletnevprojectmanager/bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='/bundles/pletnevprojectmanager/bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='/bundles/pletnevprojectmanager/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='/bundles/pletnevprojectmanager/css/jquery.noty.css' rel='stylesheet'>
    <link href='/bundles/pletnevprojectmanager/css/noty_theme_default.css' rel='stylesheet'>
    <link href='/bundles/pletnevprojectmanager/css/elfinder.min.css' rel='stylesheet'>
    <link href='/bundles/pletnevprojectmanager/css/elfinder.theme.css' rel='stylesheet'>
    <link href='/bundles/pletnevprojectmanager/css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='/bundles/pletnevprojectmanager/css/uploadify.css' rel='stylesheet'>
    <link href='/bundles/pletnevprojectmanager/css/animate.min.css' rel='stylesheet'>
    {% endblock %}
    
    {% block scripts %}

    <!-- jQuery -->
    <script src="/bundles/pletnevprojectmanager/bower_components/jquery/jquery.min.js"></script>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
        $(function(){
            $("form input[type=text],form input[type=url],form input[type=number]").addClass('form-control');
            $("form select").attr("data-rel" , "chosen").css({"min-width":"50px"});
            $("form button#save").addClass("btn btn-success");
        });
        </script>
    {% endblock %}

    <!-- The fav icon -->
    <link rel="shortcut icon" href="/bundles/pletnevprojectmanager/img/favicon.ico">

</head>

<body>
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">
                {#<img alt="Charisma Logo" src="/bundles/pletnevprojectmanager/img/logo20.png" class="hidden-xs"/>#}
                <span>Project manager</span>
            </a>

            <!-- user dropdown starts -->
            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> {{ app.user ? app.user.firstname : 'Гость'}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% block user_dropdown_menu %}
                        <li><a href="{{ path('pletnev_pm_profile') }}"><i class="glyphicon glyphicon-user"></i> Профиль</a></li>
                        <li><a href="{{ path('pletnev_pm_settings') }}"><i class="glyphicon glyphicon-wrench"></i> Настройки</a></li>
                    {% endblock %}
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="glyphicon glyphicon-off"></i> Выйти</a></li>
                </ul>
            </div>
            <!-- user dropdown ends -->

            <!-- theme selector starts -->
            <div class="btn-group pull-right theme-container animated tada">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-tint"></i><span
                        class="hidden-sm hidden-xs"> Тема</span>
                    <span class="caret"></span>
                </button>
                {% set themes = {
                    classic: "Classic",
                    cerulean: "Cerulean",
                    cyborg: "Cyborg",
                    simplex: "Simplex",
                    darkly: "Darkly",
                    lumen: "Lumen",
                    slate: "Slate",
                    spacelab: "Spacelab",
                    united: "United",
                    
                } %}
                {% set settings = settings() %}
                {% set curTheme = settings and settings.theme ? settings.theme : 'cerulean' %}
                <ul class="dropdown-menu" id="themes">
                    {% for theme,themeTitle in themes %}
                        <li><a data-value="{{ theme }}" href="#"><i class="{{ curTheme == theme ? 'glyphicon glyphicon-ok' : 'whitespace' }}"></i> {{ themeTitle }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- theme selector ends -->

            <ul class="collapse navbar-collapse nav navbar-nav top-menu">
                {% block menu_top %}
                {#<li><a href="#"><i class="glyphicon glyphicon-globe"></i> Visit Site</a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-star"></i> Dropdown <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>#}
                <li>
                    <form class="navbar-search pull-left">
                        <input placeholder="Найти" class="search-query form-control col-md-10" name="query"
                               type="text">
                    </form>
                </li>
                {% endblock menu_top %}
            </ul>

        </div>
    </div>
    <!-- topbar ends -->
<div class="ch-container">
    <div class="row">
        
        <!-- left menu starts -->
        <div class="col-sm-2 col-lg-2">
            {% block column_left %}
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        {% block menu_left %}
                            
                            {% for route,menuItem in menuItems %}
                                {% set path = path(route) %}
                                {% set icon = menuItem.icon is defined ? '<i class="glyphicon glyphicon-'~menuItem.icon~'"></i>' : '' %}
                                {% set active = app.request.get('_route') == route ? 'active' : '' %}
                                <li class="{{ active }}}"><a class="" href="{{ path }}">{{ icon|raw }}<span> {{ menuItem.title }}</span></a></li>
                            {% endfor %}
                        {#<li class="nav-header">Main</li>
                        <li><a class="ajax-link" href="index.html"><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
                        </li>
                        <li><a class="ajax-link" href="ui.html"><i class="glyphicon glyphicon-eye-open"></i><span> UI Features</span></a>
                        </li>
                        <li><a class="ajax-link" href="form.html"><i
                                    class="glyphicon glyphicon-edit"></i><span> Forms</span></a></li>
                        <li><a class="ajax-link" href="chart.html"><i class="glyphicon glyphicon-list-alt"></i><span> Charts</span></a>
                        </li>
                        <li><a class="ajax-link" href="typography.html"><i class="glyphicon glyphicon-font"></i><span> Typography</span></a>
                        </li>
                        <li><a class="ajax-link" href="gallery.html"><i class="glyphicon glyphicon-picture"></i><span> Gallery</span></a>
                        </li>
                        <li class="nav-header hidden-md">Sample Section</li>
                        <li><a class="ajax-link" href="table.html"><i
                                    class="glyphicon glyphicon-align-justify"></i><span> Tables</span></a></li>
                        <li class="accordion">
                            <a href="#"><i class="glyphicon glyphicon-plus"></i><span> Accordion Menu</span></a>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Child Menu 1</a></li>
                                <li><a href="#">Child Menu 2</a></li>
                            </ul>
                        </li>
                        <li><a class="ajax-link" href="calendar.html"><i class="glyphicon glyphicon-calendar"></i><span> Calendar</span></a>
                        </li>
                        <li><a class="ajax-link" href="grid.html"><i
                                    class="glyphicon glyphicon-th"></i><span> Grid</span></a></li>
                        <li><a href="tour.html"><i class="glyphicon glyphicon-globe"></i><span> Tour</span></a></li>
                        <li><a class="ajax-link" href="icon.html"><i
                                    class="glyphicon glyphicon-star"></i><span> Icons</span></a></li>
                        <li><a href="error.html"><i class="glyphicon glyphicon-ban-circle"></i><span> Error Page</span></a>
                        </li>
                        <li><a href="login.html"><i class="glyphicon glyphicon-lock"></i><span> Login Page</span></a>
                        </li>#}
                        {% endblock %}
                    </ul>
                    {#<label id="for-is-ajax" for="is-ajax"><input id="is-ajax" type="checkbox"> Ajax on menu</label>#}
                </div>
            </div>
                {% endblock column_left %}
        </div>
        <!--/span-->
        <!-- left menu ends -->

        <noscript>
            <div class="alert alert-block col-md-12">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            

<div>
    <ul class="breadcrumb">
        {% block breadcrumbs %}
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Blank</a>
            </li>
        {% endblock %}
    </ul>
</div>
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}

<div class="row">
    {#<div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-star-empty"></i> Blank</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i
                            class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <!-- put your content here -->
            </div>
        </div>
    </div>#}
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-content">
            {% block body %}{% endblock %}
        </div>
        </div>
    </div>
    
</div><!--/row-->


    <!-- content ends -->
    </div><!--/#content.col-md-0-->
</div><!--/fluid-row-->

    <!-- Ad, you can remove it -->
    <div class="row">
        <div class="col-md-9 col-lg-9 col-xs-9  hidden-xs">
            {#<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Charisma Demo 2 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-5108790028230107"
                 data-ad-slot="3193373905"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>#}
        </div>
        {#<div class="col-md-2 col-lg-3 col-sm-12 col-xs-12 donate">
            <div>
                <small>Help development of Charisma</small>
            </div>
            <a class="btn btn-default" href="http://flattr.com/thing/1507720/usmanhalalitcharisma-on-GitHub"
               target="_blank"><i class="glyphicon glyphicon-usd green"></i> Donate</a>
        </div>#}

    </div>
    <!-- Ad ends -->

    <hr>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Settings</h3>
                </div>
                <div class="modal-body">
                    <p>Here settings can be configured...</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="row">
        {#<p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="http://usman.it" target="_blank">Muhammad
                Usman</a> 2012 - 2014</p>

        <p class="col-md-3 col-sm-3 col-xs-12 powered-by">Powered by: <a
                href="http://usman.it/free-responsive-admin-template">Charisma</a></p>#}
    </footer>

</div><!--/.fluid-container-->

<!-- external javascript -->

<script src="/bundles/pletnevprojectmanager/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- library for cookie management -->
<script src="/bundles/pletnevprojectmanager/js/jquery.cookie.js"></script>
<!-- calender plugin -->
<script src='/bundles/pletnevprojectmanager/bower_components/moment/min/moment.min.js'></script>
<script src='/bundles/pletnevprojectmanager/bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
<!-- data table plugin -->
<script src='/bundles/pletnevprojectmanager/js/jquery.dataTables.min.js'></script>

<!-- select or dropdown enhancer -->
<script src="/bundles/pletnevprojectmanager/bower_components/chosen/chosen.jquery.min.js"></script>
<!-- plugin for gallery image view -->
<script src="/bundles/pletnevprojectmanager/bower_components/colorbox/jquery.colorbox-min.js"></script>
<!-- notification plugin -->
<script src="/bundles/pletnevprojectmanager/js/jquery.noty.js"></script>
<!-- library for making tables responsive -->
<script src="/bundles/pletnevprojectmanager/bower_components/responsive-tables/responsive-tables.js"></script>
<!-- tour plugin -->
<script src="/bundles/pletnevprojectmanager/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
<!-- star rating plugin -->
<script src="/bundles/pletnevprojectmanager/js/jquery.raty.min.js"></script>
<!-- for iOS style toggle switch -->
<script src="/bundles/pletnevprojectmanager/js/jquery.iphone.toggle.js"></script>
<!-- autogrowing textarea plugin -->
<script src="/bundles/pletnevprojectmanager/js/jquery.autogrow-textarea.js"></script>
<!-- multiple file upload plugin -->
<script src="/bundles/pletnevprojectmanager/js/jquery.uploadify-3.1.min.js"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="/bundles/pletnevprojectmanager/js/jquery.history.js"></script>
<!-- application script for Charisma demo -->
<script src="/bundles/pletnevprojectmanager/js/charisma.js"></script>
{{ tinymce_init() }}

</body>
</html>
