{%  extends "PletnevProjectManagerBundle::base.html.twig" %}

{% set route_prefix = 'pletnev_pm_admin' %}


{% block user_dropdown_menu %}
    <li><a href="{{ path(route_prefix~'_profile') }}"><i class="glyphicon glyphicon-user"></i> Профиль</a></li>
    <li><a href="{{ path(route_prefix~'_settings') }}"><i class="glyphicon glyphicon-wrench"></i> Настройки</a></li>
{% endblock %}



{% block menu_left %}
    
    {% set menuItems = {
        pletnev_pm_admin : { title: 'Проекты' , icon: 'home' , routes: []},
        pletnev_pm_author : { title: 'Проекты' , icon: 'home' , routes: []},
    } %}
    
    <li class="nav-header">Проекты</li>
    <li><a href="{{ path(route_prefix~'_project_create') }}"><i class="glyphicon glyphicon-plus"></i> Новый проект</a></li>
    {{ render(controller('PletnevProjectManagerBundle:Admin:leftMenu' , {projectSlug: app.request.get('projectSlug')})) }}
{% endblock %}

{% block menu_top %}
    <li>
        <a href="{{ path(route_prefix~'_projects') }}">Проекты</a>
    </li>
{% endblock %}