{%  extends "PletnevProjectManagerBundle:Admin:tabs.html.twig" %}

{% block breadcrumbs %}
    <li><a href="{{ path(route_prefix) }}"><i class="glyphicon glyphicon-home"></i></a></li>
    <li><a href="{{ path(route_prefix~'_projects') }}">Проекты</a></li>
    <li><a href="{{ path(route_prefix~'_project' , {projectSlug: project.slug}) }}">{{ project }}</a></li>
    <li><a href="{{ path(route_prefix~'_tasks' , {projectSlug: project.slug}) }}">Задачи</a></li>
    <li>{{ task }}</li>
{% endblock %}

{% block body_inner %}
    <h1>Задача #{{ task.id }}</h1>
    <a class="btn btn-info" href="{{ path(route_prefix~'_task_edit' , {projectSlug: task.project.slug , taskId: task.id}) }}"><i class="glyphicon glyphicon-edit icon-white"></i> редактировать</a>
    <br>
    <br>
    <table class="table table-bordered">
        <tr>
            <th>Тема</th>
            <td>{{ task.title }}</td>
        </tr>
        <tr>
            <th>Статус</th>
            <td>{{ task.status }}</td>
        </tr>
        <tr>
            <th>Приоритет</th>
            <td>{{ task.priority }}</td>
        </tr>
        <tr>
            <th>Назначена</th>
            <td>{{ task.assignedTo }}</td>
        </tr>
        <tr>
            <th>Дата создания</th>
            <td>{{ task.createDate|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <th>Дата завершения</th>
            <td>{{ task.dueDate ? task.dueDate|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <th>Выполнено</th>
            <td>
                <div class="progress" title="{{ task.doneRation }} %">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ task.doneRation }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ task.doneRation }}%">
                            <span>{{ task.doneRation }}%</span>
                        </div>
                    </div>
            </td>
        </tr>
        <tr>
            <th>Затрачено (ч.)</th>
            <td title="{{ task.minutes ? task.minutes~' мин.' }}">{{ task.hours ? task.hours|number_format(2) }}</td>
        </tr>
        <tr>
            <th>Наблюдатели</th>
            <td>{{ task.watcherUsers ? task.watcherUsers | join(', ') }}</td>
        </tr>
        <tr>
            <th colspan="2">Описание</th>
        </tr>
        <tr>
            <td colspan="2">{{ task.description | raw }}</td>
        </tr>
    </table>
    
{% endblock %}