{%  extends "PletnevProjectManagerBundle:Admin:tabs.html.twig" %}

{% block breadcrumbs %}
    <li><a href="{{ path(route_prefix) }}"><i class="glyphicon glyphicon-home"></i></a></li>
    <li><a href="{{ path(route_prefix~'_projects') }}">Проекты</a></li>
    <li><a href="{{ path(route_prefix~'_project' , {projectSlug: project.slug}) }}">{{ project }}</a></li>
    <li>Задачи</li>
{% endblock %}

{% block body_inner %}
    <br>
    <div class="btn-group">
        <a class="btn {{ app.request.get('done') ? 'btn-default' : 'btn-info'}}" href="{{ path(route_prefix~'_tasks' , {projectSlug: project.slug}) }}">Активные</a>
        <a class="btn {{ app.request.get('done') ? 'btn-info' : 'btn-default'}}" href="{{ path(route_prefix~'_tasks' , {projectSlug: project.slug , done: ' '}) }}">Завершеные</a>
    </div>
    <br>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Статус</th>
                <th>Приоритет</th>
                <th>Тема</th>
                <th>Назначена</th>
                <th>Дата</th>
                <th>Готовность</th>
                <th>Затрачено (ч.)</th>
                <th>Оплачена</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td><span class="label label-default {{ task.status ? task.status.class }}">{{ task.status }}</span></td>
                <td>{{ task.priority }}</td>
                <td><a href="{{ path(route_prefix~'_task' , {projectSlug: task.project.slug , taskId: task.id}) }}">{{ task.title }}</a></td>
                <td>{{ task.assignedTo }}</td>
                <td>{{ task.createDate | date('d-m-Y') }}</td>
                <td>
                    <div class="progress" title="{{ task.doneRation }} %">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ task.doneRation }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ task.doneRation }}%">
                            <span class="">{{ task.doneRation }}%</span>
                        </div>
                    </div>
                </td>
                <td title="{{ task.minutes ? task.minutes~' мин.' }}">{{ task.hours ? task.hours|number_format(2) }}</td>
                <td><span class="label label-default {{ task.isPaid ? 'label-success' }}">{{ task.isPaid ? 'да' : 'нет' }}</span></td>
                <td>
                    <a class="btn btn-info" href="{{ path(route_prefix~'_task_edit' , {projectSlug: task.project.slug , taskId: task.id}) }}"><i class="glyphicon glyphicon-edit icon-white"></i> редактировать</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}