{%  extends "PletnevProjectManagerBundle:Pm:layout.html.twig" %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/iphpcore/js/tiny_mce/jquery.tinymce.js') }}"></script>
    <script src="{{ asset('bundles/iphpcore/js/tiny_mce/tiny_mce.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Редактирование профиля</h1>
    <hr>
    {{ form_javascript(form) }}
    {{ form(form) }}
    
{% endblock %}