{%  extends "PletnevProjectManagerBundle:Author:layout.html.twig" %}



{% block breadcrumbs %}
    <li><a href="{{ path(route_prefix) }}"><i class="glyphicon glyphicon-home"></i></a></li>
    <li>Проекты</li>
{% endblock %}



{% block body %}
    <style>
        img.favorite {
            width: 24px;
            cursor: pointer;
        }
    </style>
    <a class="btn btn-success" href="{{ path(route_prefix~'_project_create') }}"><i class="glyphicon glyphicon-plus icon-white"></i> Новый проект</a>
    <br><br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Название</th>
                <th>Автор</th>
                <th>Активные задачи</th>
            </tr>
        </thead>
    {% for project in projects %}
        <tr>
            <td><a href="{{ path(route_prefix~'_project' , {projectSlug: project.slug}) }}">{{ project }}</a></td>
            <td>{{ project.author }}</td>
            <td><a href="{{ path(route_prefix~'_tasks' , {projectSlug: project.slug}) }}">{{ project.countActiveTasks }}</a></td>
        </tr>
    {% endfor %}
    </table>
    
    
{% endblock %}